html {
    font-size: 62.5%;   
}

body {
    background-color: #fafafa;
    padding: 3.2rem 5.2rem 1.6rem;
    font-weight: 200;
    font-size: 16px;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    justify-content: space-between;
    float: left;
    box-sizing: inherit;
  }
  
  h1 {
    color: #585858;
    margin-bottom: 1.6rem;
    padding: 1.2rem 0;

  }
  h3 {
    color: #808080;
    display: flex;
  }
  h4 {
    color: #808080;
    display: flex;
  }

  p {
    font-weight: 200;
    font-size: 16px;
    display: flex;
    width: 80%;
  }
    
  table {
    padding: 30px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color:#999999;
    text-align: center;
  }

  li {
    padding: 0 0 8px 0;
  }

  .header-links {
    padding: 30px 0px 0px 0px;    
  }

  .header-links__items {
    padding: 0px 20px 0px 20px;    
  }

  .carousel-container {
    height: min-content;
    width: 600px;
  }

  .carousel-caption {
    bottom: 0px;
    text-shadow: 2px 2px 4px #000000;
  }

  .carousel-caption-text {
    color: #fff;
    bottom: 0px;
    margin-bottom: 0px;
  }

  .carousel-control.right, 
  .carousel-control.left {
    background-image: none;
  }

  .glyphicon.glyphicon-chevron-right, 
  .glyphicon.glyphicon-chevron-left {
    margin-top: 100px !important;  
  }

  @media (max-width: 45rem) {
    body {
      padding: 0.1rem 3.2rem 1.6rem;
      font-weight: 200;
      font-size: 16px;
    }
    p { 
      padding: 0 0 0 0;  
      width: 95%;
    }
    .header-links__items {
      padding: 0px 10px 0px 10px;    
    }  
    
    .carousel-container {
      height: min-content;
      width: 300px;
    }

    .glyphicon.glyphicon-chevron-right, 
    .glyphicon.glyphicon-chevron-left {
      margin-top: -10px !important;  
    }
}